.env
node_modules
apps/backend/.env
apps/backend/dist
apps/frontend/.angular
apps/frontend/node_modules
apps/frontend/dist
apps/backend/static/profile_pictures
apps/backend/static/blog_images
apps/backend/static/settings
dist/
apps/backend/static/settings
fly.toml
/backup.sql